<div class="container-textos">

    <div class="texto-inicio">
        <h1>Sobre o projeto</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum repellendus minima, 
            perspiciatis provident ut in! Ipsum, praesentium. Quasi explicabo libero obcaecati ut natus ex illo nobis deleniti tenetur, numquam ullam!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum repellendus minima, 
            perspiciatis provident ut in! Ipsum, praesentium. Quasi explicabo libero obcaecati ut natus ex illo nobis deleniti tenetur, numquam ullam!
            Lorem ipsum dolor sit amet consectetur.
        </p>       
    </div>

    <div class="img-div">
        <img src="assets/adocao.jpg" alt="Cachorros">
    </div>

    <div class="texto-inicio">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum repellendus minima, 
            perspiciatis provident ut in! Ipsum, praesentium. Quasi explicabo libero obcaecati ut natus ex illo nobis deleniti tenetur, numquam ullam!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum repellendus minima, 
            perspiciatis provident ut in! Ipsum, praesentium. Quasi explicabo libero obcaecati ut natus ex illo nobis deleniti tenetur, numquam ullam!
            Lorem ipsum dolor sit amet consectetur.
        </p>       
    </div>
</div>

