<footer>
    <div id="container-footer">
        <div id="logo-footer">
            <img src="/assets/house.png">
            <p id="nome-empresa">RESGATE.ANIMAL</p>
        </div>

        <div id="footer-contato">
            <h2>
                Contato
            </h2>
            <p>(41)9 9999-9999</p>
            <p>resgate.animal@gmail.com</p>
            <h2>
                Endereço
            </h2>
            <p>Rua abcd, n°123 - Bairro Alto 
                Curitiba - PR
            </p>
        </div>

        <div id="footer-links">
            <h2>Colabore</h2>
            <a href="#" class="link-footer">Seja um doador</a>
            <a href="#" class="link-footer">Realizar uma denúncia</a>
        </div>
    </div>
</footer>